/bill_texts
/illinois/bill_texts
/illinois/billtexts 
/billtext
illinois_bills_keywords_GA77_103.csv
illinois_bills_keywords_sessions_114_114.csv
illinois_phase1_fulltext_hits.csv
keyword_counts.csv
keyword_counts.png